/* .display-3 {
    border: solid 10px green;
    background-color: lightgrey;
    
} */

/* .jumboMain {
    background-size: cover;
    
} */

.jumbotron {
    
    /* background-size: 1110px 280px; */
    background-color: rgba(238, 238, 238, 0.0) !important;
    background-image: url(./e0598e3ced1a102a6210bc6ecae0585d.gif);
    background-blend-mode: color;
    background-size: cover;
    /* width: 1300px;
    height: 600px;
    margin: 0px; */
    margin-top: 55px;
    
    
    
    
    
    /* -webkit-box-shadow:0px 0px 20px 8px #4ecd20 ;
    -moz-box-shadow:0px 0px 20px 8px #4ecd20 ;
    box-shadow:0px 0px 20px 8px #4ecd20 ; */
    border-radius: 20px !important;
    
}
.lead {
    text-align: center;
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 50px;
    padding-bottom: 0px;
}

.display-4{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 0px;
    
}
